

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>
            Membership
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="MemberIndex" asp-controller="Membership" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membership Create </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="MemberList" asp-controller="Membership" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Member List</p>
            </a>
        </li>

    </ul>
</li>


<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fa fa-book" aria-hidden="true"></i>
        <p>
            Book
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="BookIndex" asp-controller="Books" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Book Create </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="BookList" asp-controller="Books" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Book List</p>
            </a>
        </li>

     

    </ul>
</li>

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>
            Account
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
		<li class="nav-item">
			<a asp-action="BookSells" asp-controller="BookSell" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Book Sell</p>
			</a>
		</li>
   


    </ul>
</li>