﻿
<li class="nav-item">
    <a asp-action="ReservList" asp-controller="Restorant" class="nav-link">

        <p>
            Librabry Info

        </p>
    </a>

</li>

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Membership
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="MemberIndex" asp-controller="Membership" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membership Create </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="MemberList" asp-controller="Membership" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membership List </p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item">

    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Books
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a asp-action="Book_information" asp-controller="Book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Book Information Create</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="BookList" asp-controller="Book" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Book List</p>
            </a>
        </li>

    </ul>

    
</li>

<li class="nav-item">

    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Book Sale
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a asp-action="Buy_Book" asp-controller="BookSale" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Book sale Information </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="BookList" asp-controller="BookSale" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sales Book List</p>
            </a>
        </li>

    </ul>

    
</li>  

<li class="nav-item">

    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Customer
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a asp-action="CustomerIndex" asp-controller="Customer" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Customer Details </p>
            </a>
        </li>
        </ul>
</li>