﻿
<li class="nav-item">
    <a asp-action="ReservList" asp-controller="Restorant" class="nav-link">
        
        <p>
            Librabry Info

        </p>
    </a>

</li>

 <li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Membership
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="MemberIndex" asp-controller="Membership" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membership Create </p>
            </a>
        </li>
      @*    <li class="nav-item">
            <a asp-action="MenuList" asp-controller="Menus" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Menu Create </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="Lebls" asp-controller="Menus" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Label List </p>
            </a>
        </li> *@


    </ul>
</li>  
@*  <li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Chefs
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="ChefsCreate" asp-controller="Employe" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Chefs Create</p>
            </a>
        </li>
      

        <li class="nav-item">
            <a asp-action="Lebls" asp-controller="Menus" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Label List </p>
            </a>
      </li>

 



    </ul>
</li>  *@